body{
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    height: auto;
    /*background-image:url('/img/background_tile_2.jpg');*/
    background-image:url(STATIC_MEDIA_URL+'/128x128_tile2.jpg');
    background-attachment:fixed;
    overflow-x: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
a, a:visited, .link_tag, .link_tag:visited {
    color: #ffdabf;
    text-decoration: none;
    outline: 0;
}
a:hover, a:focus, .link_tag:hover, .link_tag:focus {
    color: #ccae99;
}

.dark_link a, a:visited {
    color: #696969;
    /*color: #ffdabf;*/
    text-decoration: underline; outline: 0;
}
.dark_link a:hover, a:focus {
    color: #454545;
    /*color: #ccae99;*/
}

.user_profile a,
.user_profile a:visited{
    color: #ffdabf;
    text-decoration: none;
    outline: 0;
}

.user_profile a:focus,
.user_profile a:hover{
    color: #ccae99;
}

p a, p a:visited { line-height: inherit; }


.link_tag{
    display: inline;
}

#body{
    padding: 0px;
    margin: 0px;
}

.left{
    float: left;
}
.right{
    float: right;
}

.warning{
    color: red;
}

.hidden{
    display: none;
}

.warning_placeholder::-webkit-input-placeholder{
    color: red;
}
.warning_placeholder{
    color: red;
}

.toggle{
    width: 64px;
    height: 32px;
    background-image: url(STATIC_MEDIA_URL + "/on_off_bg.png");
    float:left;
    margin: 0 8px;
    cursor: pointer;
}
.toggle .button{
    margin-left: -4px;
    -webkit-animation-fill-mode: forwards;
    /*-webkit-animation-duration: 1s;*/
    /*-webkit-animation: animate_toggle 1s;*/
}


@keyframes animate_toggle {
	0% {
        margin-left:0;
	}
	100% {
        margin-left:36px;
	}
}

@keyframes animate_toggle_rev {
	0% {
		margin-left: 36px;
	}
	100% {
        margin-left: 0;
    }
}

.toggle_animate{
    -webkit-animation:animate_toggle .75s;
    -webkit-animation-fill-mode:forwards;
}
.toggle_animate_rev{
    -webkit-animation:animate_toggle_rev .75s;
    -webkit-animation-fill-mode:forwards;
}

.toggle_on{
    left:36px
}
.toggle_off{
    left:0
}

#ideas_pre_buffer{
    width: 100%;
    /*height: 50px;*/
}
.arrow_down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
}

.desktop .btn_next,
.desktop .btn_prev{
    position: fixed;
    bottom: 14px;
    width: 60px;
    height: 64px;
    text-align:center;
    cursor: pointer;
    color: white;
    z-index: 100;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
}

.desktop .btn_next{
    right: 0;
    background-image: url(STATIC_MEDIA_URL + "/btn_forward.png");
}
.desktop .btn_prev{
    left: 0;
    background-image: url(STATIC_MEDIA_URL + "/btn_back.png");
}
.desktop .btn_next:active{
    background-image: url(STATIC_MEDIA_URL + "/btn_forward_pressed.png");
}
.desktop .btn_prev:active{
    background-image: url(STATIC_MEDIA_URL + "/btn_back_pressed.png");
}

#loading_bar{
    height: 32px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    padding-top: 6px;
    font-size: 18px;
    display: none;
    position: fixed;
}
.desktop #loading_bar{
    margin-top: 48px;
}

.btn_inpage_next,
.btn_inpage_prev{
 display: none;
}
.android .btn_inpage_next,
.android .btn_inpage_prev{
    height: 64px;
    width: 95%;
    border: 2px dashed ;
    color: #ffdabf;
    border-color: #ffdabf;
    display: block;
}