.modal_background_container {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background: radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
    z-index: 1000;
}

.modal_foreground_container {
    display: block;
    background: #696969;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    transition: 0.4s ease-out;
    text-align: center;
    color: #ffffff;
}
.modal_absolute_sizing{
    margin: 10% auto 0 auto;
    padding: 10px 20px 20px;
    max-width: 650px;
    max-height: 80%;
}
.android .modal_absolute_sizing,
.android .modal_relative_sizing{
    width: 100%;
    height: 100%;
}

.modal_relative_sizing{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    margin: 0;
    position: absolute;
}
.modal_blur #menu,
.modal_blur #browse,
.modal_blur #my_ideas{
    /* Blur and de-color */
    -webkit-filter: blur(3px) grayscale(30%);
    /* Recede */
    /*-webkit-transform: scale(0.95);*/
}

.modal_pic{
    background-repeat:no-repeat;
    background-position:center center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.modal_no_image .modal_pic{
    background-repeat:no-repeat;
    background-size:auto;
}

.modal_infobar_container{
    margin-top: -32px;
    height: 32px;
    background-color: #3a3431;
}

.modal_infobar{
    overflow: hidden;
    overflow-wrap: hyphenate;
    padding: 4px;
    color: white;
}

.btn_modal_show_more{
    height: 16px;
    width: 14%;
    left: 43%;
    position: absolute;
    margin: 0 auto;
    bottom: 32px;
    color: #ffdabf;
    font-size: 12px;
    padding-top: 4px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    cursor: pointer;
    background-color: #3a3431;
}
.modal_show_more .btn_modal_show_more{
    background-color: transparent;
    z-index: 1001;
}

.modal_show_more .modal_infobar_container,
.modal_no_image .modal_infobar_container{
    background-color: #3a3431;
    opacity:0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-top: 0;
}

.modal_show_more .modal_infobar,
.modal_no_image .modal_infobar{
    font-size: 36px;
    overflow: auto;
    opacity:1;
    font-weight:bold;
    height: 85%;
    width: 90%;
    text-align: left;
    padding: 5%;
}

#input_modal .modal_foreground_container {
    background: #fcfcfc;
    color: #808080;
}

.modal_foreground_container h3 {
    margin: 0;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

.close {
    position: absolute;
    top:8px;
    right: 8px;
    display: block;
    width: 64px;
    color: #ffdabf;
    font-size: 12px;
    cursor: pointer;
}

.btn_modal_show_more:hover,
.btn_modal_show_more:focus,
.close:hover,
.close:focus {
    color: #ccae99;
}

.zoomin {
    transform:  scale(1.2);
}

.zoomout {
    transform:  scale(0.7);
}

.window-container-visible {
    transform:  scale(1);
    opacity: 1;
}

/*dnd_snapshots*/
.dnd_snapshot_list{
    list-style: none;
    padding: 0 16px;
}
.dnd_snapshot_item{
text-align: left;
    margin: 8px 2%;
    width: 96%;
    height: 36px;
    border: 1px dashed #daa520;
}
.dnd_snapshot_dnd_container{
    float: right;
    cursor: pointer;
    padding: 8px;
    color: gray;
}
.dnd_snapshot_img_container img{
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 2px;
}
.dnd_snapshot_img_container{
    float: left;
    padding: 0;
}
.dnd_snapshot_text_container{
    float: left;
    padding:8px;
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
}

#dnd_snapshot_list_container{
    max-height: 480px;
    overflow-y: auto;
}