.overlay-container {
    display: none;
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
    z-index: 50;
}

.window-container {
    display: block;
    background: #fcfcfc;
    margin: 8em auto;
    width: 500px;
    padding: 10px 20px 20px;
    text-align: left;
    z-index: 3;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    transition: 0.4s ease-out;
    opacity: 0;
}

.window-container h3 {
    margin: 1em 0 0.5em;
    /*font-family: "Oleo Script";*/
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

.close {
    margin: 1em auto;
    display: block;
    width: 52px;
    background: linear-gradient(top,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%);
    border: 1px solid #aaa;
    padding: 5px 14px;
    color: #444;
    /*font-family: Helvetica, sans-serif;*/
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0 1px 3px #ddd;
    transition: 0.2s linear;
    cursor: pointer;
}

.close:hover {
    background: linear-gradient(top,  #fefefe 0%,#f8f8f8 40%,#e9e9e9 100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #aaa;
}

.close:active {
    background: linear-gradient(to bottom,  #f4f4f4 0%,#efefef 40%,#dcdcdc 100%);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.zoomin {
    transform:  scale(1.2);
}

.zoomout {
    transform:  scale(0.7);
}

.window-container-visible {
    transform:  scale(1);
    opacity: 1;
}

/*dnd_snapshots*/
.dnd_snapshot_list{
    list-style: none;
    padding: 0 16px;
}
.dnd_snapshot_item{
text-align: left;
    margin: 8px 2%;
    width: 96%;
    height: 48px;
    border: 1px solid #daa520;
}
.dnd_snapshot_dnd_container{
    float: left;
    cursor: pointer;
    padding: 4px;
}
.dnd_snapshot_img_container{
    float: left;
    padding: 0 4px;
}
.dnd_snapshot_text_container{
    float: left;
    padding:8px 4px;

}