.overlay-container {
    display: none;
    /*content: " ";*/
    /*height: 95%;*/
    height: 100%;
    width: 100%;
    position: fixed;
    /*left: 0;*/
    /*top: 5%;*/
    background: radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
    z-index: 1000;
}

.modal_background_container {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background: radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
    z-index: 1000;
}

.window-container {
    display: block;
    background: #696969;
    margin: 2em auto;
    padding: 10px 20px 20px;
    max-width: 650px;
    max-height: 700px;
    text-align: center;
    /*z-index: 3;*/
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    transition: 0.4s ease-out;
    /*opacity: 0;*/
    color: white;
}

.modal_foreground_container {
    display: block;
    background: #696969;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    transition: 0.4s ease-out;
    text-align: center;
    color: #ffffff;
}

.modal_blur #menu,
.modal_blur #browse,
.modal_blur #my_ideas{
    /* Blur and de-color */
    -webkit-filter: blur(3px) grayscale(30%);
    /* Recede */
    /*-webkit-transform: scale(0.95);*/
}


.modal_pic_container{
    width: 100%;
    height: 100%;
    display:table-cell;
    vertical-align:middle
}
.modal_table{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.modal_pic{
    position: relative;
    max-width: 100%;
    max-height: 22%;
}
.modal_no_image tbody{
    background-color: #3a3431;
    opacity:0.6
}
.modal_no_image{
    background-image: url(STATIC_MEDIA_URL + "/cog.png");
    background-repeat:no-repeat;
    background-size:auto;
    background-position: center center;
}

.modal_txt_body{
    font-size: 42px;
    overflow: auto;
    opacity:1;
    font-weight:bold;
}

#input_modal .window-container {
    background: #fcfcfc;
    color: #808080;
}

.window-container img{
    max-width: 600px;
    max-height: 600px;
    text-align: center;
}

.window-container h3 {
    margin: 0;
    /*margin: 1em 0 0.5em;*/
    /*font-family: "Oleo Script";*/
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

.close {
    position: absolute;
    top:8px;
    right: 8px;
    /*margin: 1em auto;*/
    display: block;
    width: 52px;
    background: linear-gradient(top,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%);
    /*border: 1px solid #aaa;*/
    /*padding: 5px 14px;*/
    color: #ffdabf;
    /*font-family: Helvetica, sans-serif;*/
    font-size: 12px;
    /*border-radius: 8px;*/
    /*box-shadow: 0 1px 3px #ddd;*/
    /*transition: 0.2s linear;*/
    cursor: pointer;
    /*background-color: white;*/
}

.close:hover,
.close:focus {
    color: #ccae99;
}

.zoomin {
    transform:  scale(1.2);
}

.zoomout {
    transform:  scale(0.7);
}

.window-container-visible {
    transform:  scale(1);
    opacity: 1;
}

/*dnd_snapshots*/
.dnd_snapshot_list{
    list-style: none;
    padding: 0 16px;
}
.dnd_snapshot_item{
text-align: left;
    margin: 8px 2%;
    width: 96%;
    height: 36px;
    border: 1px dashed #daa520;
}
.dnd_snapshot_dnd_container{
    float: right;
    cursor: pointer;
    padding: 8px;
    color: gray;
}
.dnd_snapshot_img_container img{
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 2px;
}
.dnd_snapshot_img_container{
    float: left;
    padding: 0;
}
.dnd_snapshot_text_container{
    float: left;
    padding:8px;
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
}

#dnd_snapshot_list_container{
    max-height: 480px;
    overflow-y: auto;
}