.mini_panel .window-container {
    margin: 8em auto;
    width: 320px;
    padding: 0;
    border-radius: 3px;
    text-align: center;
}

.mini_panel ul{
    list-style: none;
    padding: 16px;
}
.mini_panel li:hover{
    color: gray;
}
.mini_panel li{
    color: #000000;
    border-top: 1px solid gray;
    cursor: pointer;
}
.mini_panel li:first-child{
    border-top: none;
}
.mini_panel{
    font-size: 24px;
    top:0%;
}