.mini_panel.modal_background_container{
    padding: 0;
    border-radius: 3px;
    text-align: center;
    margin: 20% 0;
}

.mini_panel .modal_foreground_container{
}

.mini_panel .modal_absolute_sizing{
    width: 320px;
}
.mini_panel ul{
    list-style: none;
    padding: 0 12px;
    margin: 0;
}
.mini_panel li:hover{
    /*color: gray;*/
}
.mini_panel li{
    border-top: 1px solid gray;
    cursor: pointer;
    padding: 8px 0;
}
.mini_panel li:first-child{
    border-top: none;
}
.mini_panel{
    font-size: 24px;
    top:0%;
}