tile_width=290px
tile_height=290px
info_height = 48px
padding_height = 24px
detail_height = 64px

hdpi_tile_width=208px
hdpi_tile_height=208px
hdpi_padding_height = 8px


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

.desktop #ideas{
    margin-top: 80px;
}
#ideas{
    padding-top: 16px;
}

.idea_tiles a{
    text-decoration:none;
}

.idea_tile{
    float: left;
    width:tile_width;
    height: tile_height;
    padding: padding_height;
    list-style-type: none;
}
.my_idea_tile{
    float: left;
    width:tile_width;
    height: tile_height - info_height ;
    padding: padding_height;
    list-style-type: none;
 }

.idea_tile_body{
    position: relative;
    padding: 0px;
    width: 100%;
    display: block;
}

.idea_tile .idea_tile_body{
    height: 75%;
}

.idea_tile_body_pic{
    background-repeat:no-repeat;
    background-position:center center;
    background-color: #756963;
    background-size: auto;
    width: 100%;
    height: 100%;
/*(src!="<%= tile_image %>", width='290px', height='228px')*/
}

.idea_tile_body_infobar{
    /*background-color: #3a3431;*/
    background-color: #000000;
    height: 25%;
    position: absolute;
    margin-top: -25%;
    opacity:0.7;
    width:100%;
    left:0
}
.desktop .idea_tile_body:hover .idea_tile_body_infobar,
.no_image .idea_tile_body_infobar{
    height: 100%;
    margin-top: -100%;
    opacity:0.6;
}

.idea_tile_body_infobar_tagline,
.my_idea_tile_body_infobar_tagline{
    margin: 4% 2%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    float: left;
    width: 96%;
    font-size: 120%;
    opacity:1;
    color: #ffffff;
    /*height: 25%;*/
}

.no_image .idea_tile_body_infobar_tagline,
.no_image .my_idea_tile_body_infobar_tagline,
.desktop .idea_tile_body:hover .idea_tile_body_infobar_tagline ,
.desktop .idea_tile_body:hover .my_idea_tile_body_infobar_tagline {
    font-size: 150%;
    white-space: normal;
    margin: 10% 15%;
        /*24px 36px;*/
    /*height: tile_height - info_height - 12;*/
    height: 75%;
    width: 70%;
}
.idea_tile_body_infobar_snapshots{
    /*margin: 10px 4px;*/
    overflow: hidden;
    /*float: right;*/
    position: absolute;
    right: 8px;
    /*height: 28px;*/
    bottom: 8px;
    width: 16%;
    font-size: 20px;
    background-color: #615d5a;
    text-align: center;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    color: #ffffff;
}
.idea_tile_details{
    background-image:url(STATIC_MEDIA_URL + '/shadow.png');
    background-repeat:no-repeat;
    height 25%;
    background-size: contain;
    /*padding: 8px;*/
}
.idea_tile_details_profile{
    float: left
    width: detail_height - 16
    height detail_height - 16
    margin 5% 12px
    border-radius: 50%;
    background-size: 100%;
}
.idea_tile_details_profile_pic{
    margin: -8px 0 0 -8px;
    width:64px;
    height:64px;
}
@media screen and (min-width: 480px) and (max-width: 767px)  {
    .idea_tile{
        width:hdpi_tile_width;
        height: hdpi_tile_height;
        padding: hdpi_padding_height;
    }
    .my_idea_tile{
        width:hdpi_tile_width;
        height: hdpi_tile_height - info_height ;
        padding: hdpi_padding_height;
    }
    .idea_tile_details_profile{
        width: 40px
        height 40px
        margin 8px 12px
    }
    .idea_tile_details_profile_pic{
        margin: -8px 0 0 -8px;
        width:56px;
        height:56px;
    }
}
.idea_tile_details_owner{
    width: 65%
    height 50%
    float: left;
}
.idea_tile_details_owner_text{
    padding: 10px 0 0 8px;
    font-size: 120%;
    font-weight: 500;
}
.idea_tile_details_stats{
    width: 65%;
    float: left;
    height 50%
}

.idea_tile_details_stats_item{
    width: 50%;
    height 95%
    margin-top: 5%
    float: left;
}
.idea_tile_details_stats_pic{
    float: left;
    padding: 0 4px;
}
.idea_tile_details_stats_text{
    float: left;
    color: white;
    padding: 4px 0;
}

.my_idea_tile_details{
    position: absolute;
    z-index: 10;
    right:8px;
    top: 8px;
    background-color: #000000;
    opacity:0.7;
    padding: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.no_image .my_idea_tile_body_infobar_tagline,
.desktop  .idea_tile_body:hover .my_idea_tile_body_infobar_tagline {
    /*padding: 24px 48px 24px 18px;*/
    width:176px;
}

.idea_tile_shadow{
    width: 100%
    height: 25%;
    background-image:url(STATIC_MEDIA_URL + '/shadow.png');
    background-repeat:no-repeat;
    background-size: contain;
}

.ideas_settings_container{
    height: 64px;
    clear: both;
    width: 90%;
    padding: 0 5%;
    /*background-image: url(STATIC_MEDIA_URL + "/bg_sub_header.jpg");*/
    background-repeat:no-repeat;
    background-size: 100%;
    position: fixed;
    top: 48px;
    z-index: 100;
}
.android .ideas_settings_container{
    top: 0;
}
.desktop .ideas_settings{
    display: block;
}
.ideas_settings{
    display: none;
    /*position: fixed;*/
    float: right;
    width: 160px;
    color: #ffffff;
    font-size: 16px;
    right: 7%;
    padding-top: 16px;
}

.ideas_settings_container_text{
    padding-right: 4px;
    float: left;
    color: #FFFFFF;
}