#user_list{
    text-align: left;
}

#user_list .user_container{
    margin: 8px;
}

#user_list .profile_img_container{
    float: left;
    padding: 8px;
}

#user_list .text_container{
    width: 75%;
    padding: 8px;
}

#user_list .username{
    font-size: 26px;

}
#user_list .stats_container{
    color: #e4a268;
}

#user_list .bio_container{
    color: #8e8278;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#user_list .btn_follow, #user_list .btn_follow_pressed{
    width: 96px;
    height: 48px;
    background-repeat: no-repeat;
    float: right;
    margin: 28px 16px;
    cursor: pointer;
}
#user_list .btn_follow{
    background-image: url("/img/btn_follow.png");
}

#user_list .btn_follow_pressed{
    background-image: url("/img/btn_unfollow.png");
}